---
import Card from '../Card.astro'
import Header from '../Header.astro'
---

<Card>
	<Header heading="About Me" text="Download CV" link="JosephRiskResumeSU23.pdf" newTab="true" />
	<p class="text-accent md:text-base lg:text-sm">
		Recent graduate from the University of Texas at Austin with classwork and experience in software
		development, data analytics, and other emerging technologies. Used to the freelancing lifestyle
		but currently setting my sights on a full-time role where I can contribute to cutting-edge
		projects and help further drive digital transformation. Currently interested in practical LLM
		applications and sharpening my web development skills.
	</p>
</Card>
