---
import Card from '../Card.astro'
import Header from '../Header.astro'
import ResumeGallery from '../ResumeGallery.astro'
---

<Card>
	<Header heading="Education" />
	<div class="flex flex-col gap-8 w-full">
		<ResumeGallery category="education" />
	</div>
</Card>
