---
import Card from '../Card.astro'

const currentYear = new Date().getFullYear()
---

<Card>
	<p class="text-accent text-opacity-50 w-full text-center">
		Copyright &copy; {currentYear} Joseph Risk
	</p>
</Card>
