---
import Card from '../Card.astro'
---

<div class="card hidden">
	<div class="relative rounded-xl flex items-end justify-center h-full bg-noisy bg-slate-300">
		<img src="MemojiYawn.png" alt="Joseph Risk Memoji" class="" loading="eager" />
	</div>
</div>

<Card backgroundColor="#CBD5E1" noisy="true" padding="0">
	<div
		class="rounded-xl flex items-end justify-center h-full"
		style=`background-image: url(backgroundnoisy.webp)`
	>
		<img src="MemojiYawn.png" alt="Joseph Risk Memoji" class="" loading="eager" />
	</div>
</Card>
