---
import Card from '../Card.astro'
import memoji from '../../assets/images/memojiyawn.png'
import { Image } from 'astro:assets'
---

<Card backgroundColor="#CBD5E1" noisy="true" padding="0">
	<div
		class="rounded-xl flex items-end justify-center h-full"
		style=`background-image: url(backgroundnoisy.webp)`
	>
		<Image src={memoji} alt="Joseph Risk Memoji" loading="eager" />
	</div>
</Card>
