---
import Card from '../Card.astro'
import Icon from '../Icon.astro'
---

<Card padding="p-2">
	<div class="flex gap-2">
		<Icon
			backgroundColor="bg-[#2767B2]"
			icon="LinkedIn.svg"
			link="https://linkedin.com/in/josephrisk/"
		/>
		<Icon backgroundColor="bg-neutral-900" icon="GitHub.svg" link="https://github.com/j0srisk" />
	</div>
</Card>
