---
import { Image } from 'astro:assets'

import Card from '../Card.astro'

import linkedInSVG from '../../assets/images/icons/linkedin.svg'
import gitHubSVG from '../../assets/images/icons/github.svg'
---

<Card padding="p-1 md:p-2">
	<div class="flex gap-1 md:gap-2 h-10 md:h-12">
		<a
			href="https://linkedin.com/in/josephrisk/"
			target="_blank"
			class="flex flex-1 h-full items-center justify-center rounded-lg gap-2 p-2 bg-[#2767B2] shadow-md"
		>
			<Image
				src={linkedInSVG}
				alt="LinkedIn"
				class="w-[20px] h-[20px] md:w-[28px] md:h-[28px] object-scale-down"
			/>
		</a>
		<a
			href="https://github.com/j0srisk"
			target="_blank"
			class="flex flex-1 h-full items-center justify-center rounded-lg gap-2 p-2 bg-neutral-900 shadow-md"
		>
			<Image
				src={gitHubSVG}
				alt="GitHub"
				class="w-[20px] h-[20px] md:w-[28px] md:h-[28px] object-scale-down"
			/>
		</a>
	</div>
</Card>
