---

---

<div class="card p-4 flex-col gap-4 justify-start">
	<div class="w-full flex items-center justify-between">
		<h2 class="text-primary text-xl md:text-2xl">About Me</h2>
		<p class="text-accent text-sm md:text-lg">Resume</p>
	</div>
	<p class="text-accent md:text-base lg:text-sm">
		Recent graduate from the University of Texas at Austin with classwork and experience in software
		development, data analytics, and other emerging technologies. Used to the freelancing lifestyle
		but currently setting my sights on a full-time tech-centric role where I can contribute my
		expertise to cutting-edge projects and help further drive digital transformation. Currently
		interested in practical LLM applications and sharpening my web development skills.
	</p>
</div>
