---
const { video } = Astro.props
---

<div class="absolute top-0 left-0 w-full h-full bg-repeat bg-cover bg-center">
	<video autoplay loop muted playsinline class="w-full h-full object-cover">
		<source src={video} type="video/mp4" />
	</video>
</div>
