---
const { heading, linkText, link, height } = Astro.props
---

<div class=`card p-4 flex-col gap-6 h-${height}`>
	<div class="w-full flex items-center justify-between">
		<h2 class="text-primary text-xl md:text-2xl">{heading}</h2>
		<a href={link} target="_blank">
			<p class="text-accent text-sm md:text-lg">{linkText}</p>
		</a>
	</div>
	<slot />
</div>
