---
const { padding } = Astro.props

let paddingValue = 'p-4'
if (padding) {
	paddingValue = padding
}
---

<div
	class="relative flex h-full w-full items-center justify-between overflow-hidden rounded-[13px] border border-white border-opacity-10 bg-white bg-opacity-10 backdrop-blur-sm"
>
	<div class=`relative flex flex-col w-full h-full bg-cover bg-center gap-6 ${paddingValue}`>
		<slot />
	</div>
</div>
