---
const { title, text } = Astro.props
---

<div class="card p-2 px-4 md:p-4">
	<p class="text-accent md:text-lg lg:text-sm">{title}</p>
	<h2 class="text-primary text-sm md:text-2xl">{text}</h2>
</div>
