---
import Icon from '../components/Icon.astro'
---

<div class="card p-1 gap-1 md:p-2 md:gap-2">
	<Icon
		backgroundColor="bg-[#2767B2]"
		icon="LinkedIn.svg"
		link="https://linkedin.com/in/josephrisk/"
	/>
	<Icon backgroundColor="bg-neutral-900" icon="GitHub.svg" link="https://github.com/j0srisk" />
</div>
